<p>Hi <%= @user %>,</p>
<br/>
<p>You can change your email by visiting the URL below:</p>
<br/>
<div>
    <p>URL: <%= @token %></p>
</div>
<br/>
<p>If you didn't request this change, please ignore this.</p>
