<p>Hi <%= @user %>,</p>
<br/>
<p>Click the link below to confirm your email</p>
<br/>
<div>
    <p>URL: <%= @token %></p>
</div>
<br/>
<p>If you didn't create an account with us, please ignore this.</p>
